.site-header{
    background-color: aqua;
    color: blue;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.h1-content {
    color: brown;
}

.link-content {
    color: blue;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 250px;
    box-shadow: cadetblue 2px 5px 2px;
}

body {
    margin: 0%;
}